<!DOCTYPE html>
<html>
  <head>
    <title>RailsPokemon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Nunito:wght@400;700;800;900&display=swap" rel="stylesheet">

    <%= favicon_link_tag asset_path('pokeball.png') %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand d-flex align-items-center gap-2" do %>
          <%= image_tag 'pokeball.png', height: 32, alt: "Pokédex", class: "navbar-pokeball" %>
          <span>Pokédex</span>
        <% end %>

        <div class="navbar-nav ms-auto">
          <%= link_to "Trainers", trainers_path, class: "nav-link" %>
          <%= link_to "🎲 Random", random_pokemons_path, class: "nav-link" %>
        </div>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
      <%= render "shared/flashes" %>
    </div>
  </body>
</html>
